@page "/"
@inject NavigationManager NavigationManager

<h1>Parent-Child Component Communication in Blazor</h1>
<ul>
    <li><a href="/event-callbacks">EventCallbacks</a></li>
    <li><a href="/cascading-values">Cascading Values</a></li>
</ul>
