@page "/"
@inject NavigationManager NavigationManager

<h1>Parent-Child Component Communication in Blazor</h1>
<ul>
    <li><a href="/event-callbacks">Event Callbacks</a></li>
    <li><a href="/cascading-values">Cascading Values</a></li>
    <li><a href="/state-container">State Container</a></li>
</ul>
