@page "/"
@inject NavigationManager NavigationManager

<h1>Blazor Component Communication</h1>
<h3>Options:</h3>
<ul>
    <li><a href="/event-callbacks">Event Callbacks</a></li>
    <li><a href="/cascading-values">Cascading Values</a></li>
    <li><a href="/state-container">State Container</a></li>
</ul>
