<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Comp. Communication</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/event-callbacks" Match="NavLinkMatch.All">
                <span class="oi oi-arrow-right" aria-hidden="true"></span> Event Callbacks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/cascading-values" Match="NavLinkMatch.All">
                <span class="oi oi-arrow-right" aria-hidden="true"></span> Cascading Values
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/state-container" Match="NavLinkMatch.All">
                <span class="oi oi-arrow-right" aria-hidden="true"></span> State Container
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
